
# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/
bower_components/
my-src/
build/
fonts/
images/
js/
styles/
school/
# other
.tmp
wordpress/
.bowerrc

